
/*CSS displayed modifies the views of the website*/
.container{
	font-family: "Montserrat",sans-serif;
}
.socialmedia_container{
	position:absolute;
	top: 78%;
	left:25%;
	width:340;
	height:200;
}
.github_tag{
	position:absolute;
	width:50;
	height:50px;
	top: 80%;
	right: 55%;
}
.twitter_tag{
	position: absolute;
	width: 50;
	top: 80%;
	right: 45%;
}
.linkden_tag{
	position: absolute;
	width: 50;
	top: 80%;
	right: 35%;
}
.instagam_tag{
	position:absolute;		
	width:50%;
	top:80%;
	right:#;

}
em{
	color:#3ee6bf;
}
.name_tag{
	position:absolute;
	top: 40%;
	left:25%;
	width:340;
	height:28;
	text-align:center;
	color:white;
}
.block_title{
	text-align:center;
	position:absolute;
	top: 50%;
	left:25%;
	width:340;
	height:41;
	color:white;
}
.lastabout_tag{
	position: absolute;
	color: gray;
	align:center;
	left: 40%;
	font-size: 50%;
	
}
.getintouch_tag{
	position:absolute;
	background-color:gray;
	top: 70% ;
    left:40%;
	text-align:center;
	width:140;
	height:48;
	color:white;
}
.left-element {
     background-image: url("italy.jpeg");
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.right-element {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    padding-bottom: 50px;
     
}
.header_tag{
	padding-top:15;
	padding-left:25px;
}
.who-info{
	padding-top: 10;
	padding-left: 25;
	padding-bottom: 15;
    text-indent: 50px;
   
}
.what-info{
	 padding-top: 10px;
	 padding-left: 25;
	 padding-bottom: 15;
	 text-indent: 20px;
	
}

.when-info{
	 padding-left: 25;
	 padding-bottom: 15;
	 text-indent: 50px;
	
}
p{
	 font-family: "sans-serif";
	 line-height: 1.5em;
}
a:hover {
	background-color: blue;
}



/*.indent{
	text-indent:20px;
}
ul.gray{
	color:gray;
}
p{
	text-indent:10px;
	margin-left: .2cm;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Sans-serif;
	vertical-align: baseline;
}
.homepageimage{
	background-image:url('homepageimage.jpg');
	width:1000;
	height:300;
}
.navbar{
    background-image:url('navbar.jpg');
	width: 1000px;
	height: 100px;
	color: white;
}
.navbar-el{
	width: 250px;
	text-align: center;
}

body{
	line-height: 1;
}
.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-li {
    float: left;
}

.navbar-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    color: black;
}

.active-navbar-el {
    background-color: #4CAF50;
}
.text-prop{
	color: 999999;
	font-style: Sans-serif;
	font-size: 17px;
}
.bottom-prop{
	text-align: center;
}
.divLeft{
	float:center;
	width: 650px;
	border: 1px;
}
.name-prop{
	color: white;
	font-size:60px;
	font-family: Comic;
}
div.button{
	border-color:white;
	color:white;
	float:right;
	margin-right:2cm;
	border:2px solid white;
	width:200px;
	height: 50px;
	text-align: center;
	font-size:24px;
}
.filler{
	color:white;
}
.header-prop{
	font-family:Helvetica neue;

}
*/


