
/*CSS displayed modifies the views of the website*/
.container{
	
}
.left-element {
    background: blue;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.right-element {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    padding-bottom: 50px;
     
}
.who-info{
	padding-top: 25;
	padding-left: 25;
	padding-bottom: 15;
}
.what-info{
	 padding-top: 25px;
	 padding-left: 25;
	 padding-bottom: 15;
}
.when-info{
	 padding-top: 25px;
	 padding-left: 25;
	 padding-bottom: 15;
}
p{
	 font-family: "Times New Roman";
}




/*.indent{
	text-indent:20px;
}
ul.gray{
	color:gray;
}
p{
	text-indent:10px;
	margin-left: .2cm;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Sans-serif;
	vertical-align: baseline;
}
.homepageimage{
	background-image:url('homepageimage.jpg');
	width:1000;
	height:300;
}
.navbar{
    background-image:url('navbar.jpg');
	width: 1000px;
	height: 100px;
	color: white;
}
.navbar-el{
	width: 250px;
	text-align: center;
}

body{
	line-height: 1;
}
.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-li {
    float: left;
}

.navbar-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: black;
}

.active-navbar-el {
    background-color: #4CAF50;
}
.text-prop{
	color: 999999;
	font-style: Sans-serif;
	font-size: 17px;
}
.bottom-prop{
	text-align: center;
}
.divLeft{
	float:center;
	width: 650px;
	border: 1px;
}
.name-prop{
	color: white;
	font-size:60px;
	font-family: Comic;
}
div.button{
	border-color:white;
	color:white;
	float:right;
	margin-right:2cm;
	border:2px solid white;
	width:200px;
	height: 50px;
	text-align: center;
	font-size:24px;
}
.filler{
	color:white;
}
.header-prop{
	font-family:Helvetica neue;

}
*/


